{
  "extends": "loopback",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "plugins": [
    "react",
    "react-native"
  ],
  "rules": {
    "no-unused-vars": 2,
    "strict": "off",
    "react-native/no-unused-styles": 2,
    "object-curly-spacing": [
      1,
      "always"
    ],
    "comma-dangle": [
      "error",
      "never"
    ]
  }
}
