<section>
  <form action="<%= redirectUrl %>" method="post">
    <fieldset>
      <legend>Password reset form</legend>
      <div>
        <label for="newPassword">New password:</label>
        <input type="password" id="newPassword" name="newPassword">
      </div>
      <div>
        <input type="submit" value="Reset password">
      </div>
    </fieldset>
  </form>
</section>
